.container form {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 30%;
  margin: 50px auto 0;
}

.field-row {
  display: flex;
  align-items: center;

  span {
    display: block;
    padding: 0 10px;
  }
}
img {
  max-width: 100px;
}
.card-logo {
  position: absolute;
  left: -115px;
  top: 0;
}
