<div class="container">
  <form [formGroup]="addCardForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <input type="number" matInput placeholder="Card number" formControlName="cardNumber">
          <!-- <mat-error *ngIf="addCardForm.get('cardNumber').invalid">Error message</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput placeholder="CCV" formControlName="ccv">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Card holder" formControlName="cardHolder">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Card expired date" formControlName="expiredDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-stroked-button>ADD CARD</button>
  </form>
</div>

