.container form {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 30%;
  margin: 50px auto 0;
}
<<<<<<< HEAD

.field-row {
  display: flex;
  align-items: center;

  span {
    display: block;
    padding: 0 10px;
  }
}
=======
>>>>>>> 978421f385842fbe7d29bd8d520de9d726491118
